PORT=80
APP_NAME=breakfaster
CHANNEL_SECRET=myLineBotChannelSecret
ACCESS_TOKEN=myLineBotAccessToken
BOT_VERSION=v1
ORDER_PAGE_URI=https://liff.line.me/myLiffURI
MAX_DB_IDLE_CONNS=10
MAX_DB_OPEN_CONNS=100
DB_DSN=ming:password@tcp(db:3306)/breakfaster?charset=utf8mb4&parseTime=True&loc=Local
GIN_MODE=debug
LOG_PATH=server.log
DEFAULT_CACHE_EXPIRATION=86400
CLEAN_CACHE_INTERVAL=86400
CLOVA_SECRET_KEY=myClovaSecretKey
CLOVA_BUILDER_URL=https://myClovaChatBotEndpoint
REDIS_ADDR=rredis-node1:7000
REDIS_PASSWD=pass.123
REDIS_POOL_SIZE=10
REDIS_MAX_RETRIES=3
REDIS_IDLE_TIMEOUT=60
REDIS_CLUSTER_IP=10.99.100.238